:host {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main";
  
  header-bar {
    grid-area: header;
  }

  sidebar-list {
    grid-area: sidebar;
  }

  items-finder {
    grid-area: main;
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
      "header header"
      "sidebar main";
  }
}