:host {
  display: grid;
  grid-template-rows: 70px minmax(100vh, 1fr);
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main";
  
  header-bar {
    grid-area: header;
  }

  sidebar-list {
    grid-area: sidebar;
  }

  mf-items-search {
    grid-area: main;
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
      "header header"
      "sidebar main";
  }
}