@import "../../../assets/scss/main.scss";

:host {
  display: none;
  background-color: $medium-gray;
  padding: 20px;
  color: $light-gray;
  align-self: stretch;
  justify-self: stretch;

  h4 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

    li {
      margin: 5px 0;
    }
  }

  @media screen and (min-width: 600px) {
    display: block;
  }
}