@import "../../../assets/scss/main.scss";

:host {
  grid-area: sidebar;
  display: none;
  background-color: $light-gray;
  color: $dark-gray;
  padding: 20px;

  h4 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

    li {
      cursor: pointer;
      margin: 10px 0;

      &.active-item,
      &:hover {
        color: $green;
      }
    }
  }

  @media screen and (min-width: 600px) {
    display: block;
  }
}