:host {
  display: none;
  background-color: #666;
  padding: 20px;
  color: #ccc;
  align-self: stretch;
  justify-self: stretch;

  h4 {
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

    li {
      margin: 5px 0;
    }
  }

  @media screen and (min-width: 600px) {
    display: block;
  }
}