:host {
  grid-area: main;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 10px;

  .empty-message {
    text-align: center;
    padding: 20px;
  }
}