@import "../../../assets/scss/main.scss";

:host {
  height: 420px;
  border-radius: 10px;
  overflow: hidden;
  background-color: $light-gray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 100px;

  img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .description {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    color: $white;
    padding: 10px 20px;

    h3 {
      overflow: hidden;
    }
  }
}
